@import "tailwindcss";
@plugin "daisyui";

.my-element{
    background: 
    url('/bg-shadow.png') no-repeat center center,black;                                  
    background-size: cover, cover;
    min-height: 70vh;
}

.my-element-footer{
    background: 
    url('/bg-shadow.png') no-repeat center center,white;                                  
    background-size: cover, cover;
    height: 40vh;
}

.btn1{
    border: 2px solid gray;
    border-radius: 6px 0 0 6px;
    border-right: none;
}
.btn2{
    border: 2px solid gray;
    border-radius: 0 6px 6px 0;
}